<!--BANNER INICIAL-->
<div class="banner_central"  alt= "Portfolio Index Banner Inicial - @phmarvinmeyer/Unplash"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "portfolio_index_banner_okywpn" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Nuestra Propuesta</h1>
      <p>Cursos disponibles</p>
    </div>
  </div>
</div>

<!--DESARROLLO PROFESIONAL-->
<div class="container mt-5">
  <div id="formacion">
    <div class= "text-center">
      <h2>Formación Profesional</h2>
    </div>
  </div>
</div>

<div class="container my-5 text-center white-portfolios">
  <div class="white-portfolios">
    <p>
    ¿Quieres que tu empresa tenga una ventaja competitiva? ¿Quieres que tus empleados estén mejor preparados y más capacitados que los de la competencia? ¡Tenemos la solución perfecta para ti!
    </p>
    <p>
    En Calimba, ofrecemos una amplia variedad de cursos online para empresas que ayudarán a tus empleados a desarrollar habilidades clave y mejorar su rendimiento laboral. Nuestros cursos están diseñados para adaptarse a las necesidades específicas de tu empresa, brindando capacitación en áreas como liderazgo, trabajo en equipo, comunicación, habilidades técnicas, entre otros.
    </p>
  </div>
</div>


<!--DESARROLLO PROFESIONAL - CARDS-->

<div class="container mb-5 ">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <% @portfolios_profesional.each_with_index do |p, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
              <%= cl_image_tag (p.photo.key unless p.photo.key.blank?), width: 400, height: 400, class: 'd-block w-100'%> 
              <div class="carousel-caption d-none d-md-block">
                <h3><%= p.name %></h3>
              </div>
            </div>
          <% end %>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

<!--CONSULTORIA-->
<div id="consultoria">
  <div class="container">
  </div>
</div>




<!--CONSULTORIA - CARDS-->

      <%# @portfolios_consultoria.each_with_index do |p, index| %>
    