<!--BANNER INICIAL-->
<div class="banner_central" alt= "Coaching Banner Inicial - @phjamiestret/Unplash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "coaching_baner_inicial_unsplash_jamie_street_mvoopq" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Primeros Auxilios</h1>
      <p>Curso inicial.</p>
    </div>
  </div>
</div>