<!--BANNER INICIAL-->
<div class="banner_central" alt= "Coaching Banner Inicial - @claudio-schwarz/Unplash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "education_claudio-schwarz_yzzx8d" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Primeros Auxilios</h1>
      <p>Curso inicial</p>
    </div>
  </div>
</div>
<div class= "container">
  <h2>¿Queres participar?</h2>
  <p> Si quieres participar en este curso, Seguinos en Instagram y Youtube. </p>
  <div class="mt-1">
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UC6gKILvZxRGYUyy86tbJ9VA" data-layout="default" data-count="hidden"></div>
  </div>
  <p><%= link_to("Download", cl_private_download_url("https://res.cloudinary.com/giseares/image/upload/v1638908090/proyecto_seccion_4_noticias_sez_sgu0vx.jpg", :jpg, :attachment => true)) %></p>

<button id="myBtn">Try it</button>

  <script>
  document.getElementById("myBtn").addEventListener("click", function() {
    alert("You've clicked!");
  });

  </script>

  <div class="container">
    <div class="cards-education d-flex mb-3">
      <div class= "card-education p-3 text-justify">
        <div class = "icon">
          <i class="fa solid fa-arrow-down"></i>
        </div>
        
        <div class="education-information">
          <p>La Cueva de los Tayos es un Sistema de túneles subterráneos a 800 msnm,  en la cordillera del Cóndor en Ecuador.La Cueva de los Tayos es un Sistema de túneles subterráneos a 800 msnm,  en la cordillera del Cóndor en Ecuador. </p>
          <div class="d-flex align-items-end justify-content-center mb-2">
            <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Emprendedores%20-%20Informacion">Comenza ahora</a>
          </div>
        </div>
      </div>

      <div class= "card-education p-3 text-justify">
        <div class = "icon">
          <i class="fas fa-heartbeat"></i>
        </div>
        
        <div class="education-information">
          <p>La Cueva de los Tayos es un Sistema de túneles subterráneos a 800 msnm,  en la cordillera del Cóndor en Ecuador.La Cueva de los Tayos es un Sistema de túneles subterráneos a 800 msnm,  en la cordillera del Cóndor en Ecuador. </p>
          <div class="d-flex align-items-end justify-content-center mb-2">
            <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Emprendedores%20-%20Informacion">Comenza ahora</a>
          </div>
        </div>
      </div> 

      <div class= "card-education p-3 text-justify">
        <div class = "icon">
          <i class="fas fa-heartbeat"></i>
        </div>
        
        <div class="education-information">
          <p>La Cueva de los Tayos es un Sistema de túneles subterráneos a 800 msnm,  en la cordillera del Cóndor en Ecuador.La Cueva de los Tayos es un Sistema de túneles subterráneos a 800 msnm,  en la cordillera del Cóndor en Ecuador. </p>
          <div class="d-flex align-items-end justify-content-center mb-2">
            <a class="btn btn-outline-dark"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Coaching%20Emprendedores%20-%20Informacion">Comenza ahora</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  
</div>


